.lista {
  align-items: center;
  justify-content: end; 
  display: flex !important;
  flex-direction: column;
  text-align: center; ;
  width: 18rem;
  height: 25rem !important;
  margin-top: 2rem;
}

.lista .ant-card-cover img {
  width: auto;
  max-width: 90%;
  max-height: 180px; 
  padding: 5px;
  
}

.lista .ant-card-body {
  padding: 5px !important;
  align-items: center;
  justify-content: end; 
  display: flex !important;
  flex-direction: column;
  width: 90%;
}

.lista .ant-card-meta-title {
  overflow: visible !important;
  white-space: break-spaces !important;
  text-overflow: unset !important;
}

.detalhes {
  width: 70%;
  height: auto;
}

.nomeProduto .ant-card-head-title {
  overflow: visible !important;
  white-space: break-spaces !important;
  text-overflow: unset !important; 
  font-size: x-large;
}

.categoriasMenu  {
  color: white;
  margin-right: 30px;
}

.categoriasMenu a {
  color: white !important;
}


.ant-col-6 {
  display: flex !important;
  justify-content: center;
}

#slide1 {
  width: 876px;
  height: 400px;
  background-image: url("https://dafitistatic.dafiti.com.br/cms/geraldft/2023_09_08_14_56_19_DESK_DESTAQUE_DESK_1920x640.gif");
  background-size: cover;
}

#slide2 {
  width: 876px;
  height: 400px;
  background-image: url("https://dafitistatic.dafiti.com.br/cms/fem/2023_08_31_16_24_12_DESTAQUE_DESK_1920x640novi.png");
  background-size: cover;
}

#slide3 {
  width: 876px;
  height: 400px;
  background-image: url("https://dafitistatic.dafiti.com.br/cms/dafiti_fem/2023_09_06_17_34_27_DESTAQUE_DESK_1920x640.jpg");
  background-size: cover;
}

.ant-layout-header {
  background-color: rgb(0, 0, 0) !important;
}